<form action="/login" method="post">
    <label for="username">User Name:</label>
    <input type="text" name="username" placeholder="User Name" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="********">
    <button type="submit">Login</button>
</form>
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
<p>No User yet? <a href="/signup">Sign up</a>  now</p>
