<form action="/signup" method="post">
    <label for="username">User Name:</label>
    <input type="text" name="username" placeholder="User Name" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="********">
    <button type="submit">Signup</button>
</form>
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
<p>Already a User? <a href="/login">Log in</a>  now</p>